*{
  font-family:verdana;
}
header, footer, .column-1, .column-2{
  padding: 15px;
}
header {
  background-color: red;
}

footer {
  background-color: #ff5050;
  clear: both;
}


.column-2 {
 background-color: #cc0000;
 float: right;
 width: 45%;


}

.column-1 {
  background-color: #cc0066;
  float: left;
  width: 45%;


}
a{
  text-decoration: none;
}